[Unit]
Description=uWSGI instance to serve findapet
After=network.target

[Service]
User=degbert
Group=www-data
WorkingDirectory=/home/degbert/findapet
Environment="PATH=/home/degbert/findapet/env/bin"
ExecStart=/home/degbert/findapet/env/bin/uwsgi --ini findapet.ini

[Install]
WantedBy=multi-user.target
